#users.container.mt-4
  .div.m-4.my-4.py-4
    .page.header
      %h1.mb-4
        %p{:style => "color: green"}= notice
        = t('application.list_of', model: t('activerecord.modules.user.other'))
      .float-end.pb-4
        = link_to t('application.new_model', model: t('activerecord.modules.user.one')), new_user_path, class: "btn btn-primary"
    %table.table.table-striped
      %thead
        %tr
          %th= t('activerecord.attributes.user.name')
          %th= t('activerecord.attributes.user.email')
          %th= t('activerecord.attributes.user.role')
          %th
      %tbody
        - @users.each do |user|
          %tr
            %td= user.user_name
            %td= user.email
            %td= user.user_type
            %td
            %td= link_to t('application.show', model: t('activerecord.modules.user.one')), user, class: "btn btn-info"
            %td= link_to t('application.edit'), edit_user_path(user), class: "btn btn-success"
            %td= button_to t('application.delete'), user, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
  %div
    = link_to t('application.back_to_menu'), root_path, style: "display: inline-block; padding: 0.5rem 1rem; background-color: #6c757d; color: #fff; text-decoration: none; border-radius: 0.25rem; border: none;"
