.div.container.my-4.py-4
  %h2 
    = t('activerecord.attributes.log_in.forgot_your_password?')
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field.form-group
      = f.label t('activerecord.attributes.log_in.email')
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field.form-group
      = f.submit t('activerecord.attributes.log_in.send_me_reset_password_instructions')
  = render "devise/shared/links"
