%div{:id => "#{dom_id client}"}
  %p
    %strong Client name:
    = client.client_name
  %p
    %strong Email:
    = client.email
  %p
    %strong Client password:
    = client.client_password
  %p
    %strong Direction:
    = client.direction
