%p{:style => "color: green"}= notice
%h1 Clients
#clients.container.mt-4
  %table.table.table-striped
    %thead
      %tr
        %th= t('activerecord.attributes.client.name')
        %th= t('activerecord.attributes.client.email')
        %th= t('activerecord.attributes.client.direction')
        %th= t('activerecord.attributes.client.status_client')
        %th
    %tbody
      - @clients.each do |client|
        %tr
          %td= client.client_name
          %td= client.email
          %td= client.direction
          %td= client.status_client
          %td
            = link_to "Show", client, class: "btn btn-info"
            = link_to "Edit", edit_client_path(client), class: "btn btn-success"
            = button_to "Delete", client, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger", form: { class: "btn-group" }
  = link_to "New client", new_client_path

%div
  = link_to "Back to menu", "http://localhost:3000", class: "btn btn-secondary"
