= form_with(model: order) do |form|
  - if order.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(order.errors.count, "error")
        prohibited this order from being saved:
      %ul
        - order.errors.each do |error|
          %li= error.full_message
  %div
    = form.label :order_date, style: "display: block"
    = form.date_field :order_date
  %div
    = form.label :status, style: "display: block"
    = form.number_field :status
  %div
    = form.submit
