%div{:id => "#{dom_id order}", style: "background-color: #f5f5f5; padding: 10px; margin-bottom: 10px;"}
  %p{:style => "font-weight: bold; color: #333;"}
    %strong Client:
    = order.client.client_name
  %p{:style => "font-weight: bold; color: #333;"}
    %strong Direction:
    = order.client.direction
  %p{:style => "font-weight: bold; color: #666;"}
    %strong Dish:
    = order.dish&.name
  %p{:style => "font-weight: bold; color: #666;"}
    %strong Price:
    = order.dish&.price
  %p{:style => "font-weight: bold; color: #888;"}
    %strong Order date:
    = order.order_date
  %p{:style => "font-weight: bold; color: #888;"}
    %strong Status:
    = order.status
