%div{:id => "#{dom_id dish}"}
  %p
    %strong Name:
    = dish.name
  %p
    %strong Description:
    = dish.description
  %p
    %strong Price:
    = dish.price
  %p
    %strong Picture:
    = image_tag dish.picture, width: 200