.container.mt-4
  %div{:id => "#{dom_id dish}"}
    %p{:style => "background-color: #f5f5f5; padding: 10px; border: 1px solid #ccc; margin-bottom: 10px;"}
      %strong{:style => "font-weight: bold;"} Name:
      = dish.name
    %p{:style => "background-color: #f5f5f5; padding: 10px; border: 1px solid #ccc; margin-bottom: 10px;"}
      %strong{:style => "font-weight: bold;"} Description:
      = dish.description
    %p{:style => "background-color: #f5f5f5; padding: 10px; border: 1px solid #ccc; margin-bottom: 10px;"}
      %strong{:style => "font-weight: bold;"} Price:
      = dish.price
    %p
      %strong Picture:
      - if dish.picture.present?
        = image_tag dish.picture, width: 200
      - else
        No picture available
