.container.mt-4
  %div{:id => "#{dom_id dish}"}
    %p{:style => "background-color: #f5f5f5; padding: 10px; border: 1px solid #ccc; margin-bottom: 10px;"}
      %strong
        = t('activerecord.attributes.dish.name')
        =" : "
      = dish.name

    %p{:style => "background-color: #f5f5f5; padding: 10px; border: 1px solid #ccc; margin-bottom: 10px;"}
      %strong
        = t('activerecord.attributes.dish.description')
        =" : "
      = dish.description
    %p{:style => "background-color: #f5f5f5; padding: 10px; border: 1px solid #ccc; margin-bottom: 10px;"}
      %strong
        = t('activerecord.attributes.dish.price')
        =" : "
      = dish.price
    %p
      %strong 
        = t('activerecord.attributes.dish.picture')
        =" : "
      - if dish.picture.present?
        = image_tag dish.picture, width: 200
      - else
        No picture available
