.container.mt-4
  .div.m-4.my-4.py-4
    .page.header
      %h1.mb-4
        = "List of dishes"
      .float-end.pb-4
        = link_to "New dish", new_dish_path, class: "btn btn-primary"
    %table.table.table-striped
      %thead
        %tr
          %th= t('activerecord.attributes.dish.name')
          %th= t('activerecord.attributes.dish.description')
          %th= t('activerecord.attributes.dish.price')
          %th= t('activerecord.attributes.dish.picture')
      %tbody
        - @dishes.each do |dish|
          %tr
            %td= dish.name
            %td= dish.description
            %td= dish.price
            %td
              - if dish.picture.present?
                = image_tag dish.picture.url, class: "dish-picture", style: "width: 200px; height: 100px;"
              - else
                No picture available
            %td= link_to "Show this dish", dish, class: "btn btn-info"
            %td= link_to "Edit", edit_dish_path(dish), class: "btn btn-success"
            %td= button_to "Delete", dish, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
    %div
      = link_to "Back to menu", "http://localhost:3000", class: "btn btn-secondary"



