.container.mt-4
  .div.m-4.my-4.py-4
    .page.header
      %h1.mb-4
        %p{:style => "color: green"}= notice
        = t('application.list_of', model: t('activerecord.modules.dish.other'))
      .float-end.pb-4
        = link_to t('application.new_model', model: t('activerecord.modules.dish.one')), new_dish_path, class: "btn btn-primary"
    %table.table.table-striped
      %thead
        %tr
          %th= t('activerecord.attributes.dish.name')
          %th= t('activerecord.attributes.dish.description')
          %th= t('activerecord.attributes.dish.price')
          %th= t('activerecord.attributes.dish.picture')
      %tbody
        - @dishes.each do |dish|
          %tr
            %td= dish.name
            %td= dish.description
            %td= dish.price
            %td
              - if dish.picture.present?
                = image_tag dish.picture.url, class: "dish-picture", style: "width: 200px; height: 100px;"
              - else
                No picture available
            %td= link_to t('application.show', model: t('activerecord.modules.dish.one')), dish, class: "btn btn-info"
            %td= link_to t('application.edit'), edit_dish_path(dish), class: "btn btn-success"
            %td= button_to t('application.delete'), dish, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
    %div
      = link_to t('application.back_to_menu'), root_path, style: "display: inline-block; padding: 0.5rem 1rem; background-color: #6c757d; color: #fff; text-decoration: none; border-radius: 0.25rem; border: none;"




