.container
  %h1.Editing-dish 
    %p{:style => "color: green"}= notice
    = t('activerecord.modules.dish.one')
    
  = render @dish
  %div
    = link_to t('activerecord.attributes.dish.back_to_dishes'), dishes_path, style: "display: inline-block; padding: 0.5rem 1rem; background-color: #6c757d; color: #fff; text-decoration: none; border-radius: 0.25rem; border: none;"
    |
    = link_to t('application.edit'), edit_dish_path(@dish), class: " btn btn-success"
    |
    = button_to t('application.delete'), @dish, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"